.banner a {
  border-radius: 8px;
  background-color: white;
  font-family: "Amatic SC", cursive;
  color: #223a29 !important;
  font-size: 32px;
  text-decoration: none !important;
  text-align: center;
  padding: 0 20px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  height: 500px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.home-title h2 {
  margin-top: 10px;
}

.card-tips {
  margin: 10px 0 20px 20px !important;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 10px 5px;
}

.card-tips img {
  background-size: cover;
  width: 75px;
  object-fit: cover;
}

.card-tips p {
  font-size: 12px;
  opacity: .7;
}

.chevron {
  color: #ffffff;
}

.chevron a {
  background-color: transparent !important;
}

#tips h2 {
  font-family: $headers-font;
  font-size: 38px;
}

