<div class="footer fixed-bottom">
  <div class="footer-links">
    <a href="https://github.com/Kim-linh/-MY_GREEN_GARDEN", target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/mygreengarden7/", target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/My-Green-Garden-573970760100391/?modal=admin_todo_tour", target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
    <div class="footer-copyright">
      M.G.G  <i class="fas fa-leaf"></i>
    </div>
  </div>
</div>
