<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Kim-linh/-MY_GREEN_GARDEN"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/My-Green-Garden-573970760100391/?modal=admin_todo_tour"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
    <div class="footer-copyright">
      My Green Garden <i class="fas fa-heart"></i>
    </div>
  </div>
</div>
