<div class="container">
  <h1>Mais où sont les fleuristes ?</h1>
</div>

<div class="container">
  <div class="row">
    <iframe id="florist-map"
      width="600"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDGE74FeKy-wiLTRwCOOdSj0UEa5kmPhO0&q=fleuristes
      &zoom=14
      &center=44.8637279,-0.5860735"
       allowfullscreen>
    </iframe>
  </div>
</div>
