<div class="container">
  <div class="banner" style ="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url('https://res.cloudinary.com/kimlinh/image/upload/v1559145474/banner_wmoj91.jpg');">
    <div>
      <h1>Keep your plant alive !</h1>
      <p>Daily flash notices,<br> MyGreenGarden help you to take care of your plants</p>
    </div>
    <%= link_to "I create my garden", user_plants_path %>
  </div>

  <h1>Weekly tips</h1>

</div>


