<div class="container">
  <div class="banner" style ="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url('https://res.cloudinary.com/kimlinh/image/upload/v1559145474/banner_wmoj91.jpg');">
    <div>
      <h1>Keep your plant alive !</h1>
      <p>Grâce à des alertes,<br> MyGreenGarden vous aide à prendre soin de vos plantes</p>
    </div>
    <%= link_to "Je crée mon jardin", user_plants_path %>
  </div>

  <h1>Astuce de la semaine</h1>
  <div class="card">

  </div>

</div>


