<div class="container">
  <h1>Bibliographie des plantes</h1>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
    <div class="card-product-infos">
      <% @plants.each do |plant| %>
      <h2><%= plant.variety %></h2>
      <p><%= plant.description %> <strong>relevant info</strong> only.</p>
      <% end %>
    </div>
    <%= link_to "Acceder à la plante", biblio_id_path(@plants) %>
</div>
