<div class="container">
  <h1>Bibliographie des plantes</h1>
  <% @plants.each do |plant| %>
    <div class="card-product">
      <%= image_tag plant.picture %>
      <div class="card-product-infos">
        <h2><%= plant.variety %></h2>
        <p><%= plant.description %></p>
        <%= link_to "Acceder à la plante", biblio_id_path(plant) %>
      </div>
    </div>
  <% end %>
</div>
