.bg-garden {
  background-position: center;
  background-size: cover;
}

.garden-title {
  font-size: 40px;
  font-family: $headers-font;
  color: $dark-green;
  text-align: center;
  padding: 10px 0;
}

.biblio-title {
  font-size: 48px;
  font-family: $headers-font;
  color: white;
  text-align: center;
  padding: 10px 0;
  text-shadow: 0 0 2px black;
}
