// ce block représente la carte de la biblio
.card-product {
  margin-bottom: 40px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  background-size: cover;
  width: 150px;
  object-fit: cover;
}

h1 {
  margin: 30px 0 !important;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
}

.card-product p {
  font-size: 12px;
  opacity: .7;
}

// ______________________________________

// ce block représente la carte de la show de userplant
.card-category-global {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-category {
  width: 100%;
  // margin: 50px 0 20px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: $headers-font;
}

.card-category-infos {
   width: 100%;
  // margin: 50px;
  height: 60%;
  align-items: center;
  background: white;
  padding: 24px 24px;
  border: 1px solid rgb(235,235,235);
}

.card-category-infos h1 {
  margin: 0 !important;
}

.card-category-activities {
  p{
    color: black;
    // font-weight: bold;
    span {
          font-size:24px ;
    }
  }
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content:center;
}

.card-category-infos span {
  font-size: 18px;
}

.card-category-infos i {
  color: #339AF0;
  font-size: 32px;
}

// Ce block représente les cartes de la home pour les astuces

.card-category {
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  text-align: center;
}

// __________________________________________________________

.form-control {
  margin-bottom: 30px;
  border-radius: 10px;
}

.card-title {
  margin: 5px !important;
}

.card-img-top {
  object-fit: cover;
}

.fa-tint {
  font-size: 25px;
  margin-left: 8px;
}

.infos-plants {
  font-size: 80%;
  color: #6c757d;
  text-align: justify;
  margin: 0 32px;
}

.card-category-infos i {
  color: $dark-green;
  font-size: 26px;
}
