.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.nav-item {
  padding-left: 160px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  text-align: right;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.nav-link {
  color: black;
  opacity: 0.5;
  text-decoration: none;
  &:hover {
    color: green !important;
  }
  &.active {
    color: green !important;
  }
}


